.about-us {

    // .about-us__bg

    display: grid;
    grid-template-columns: 100%;

    &__bg {
        grid-area: 1/1;

        position: relative;
        z-index: -1;

        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            content: '';
            display: block;
            width: 100%; height: 100%;
            flex: 1 1 auto;
            background: var(--accent-2-light);
        }

        // .about-us__bg--img

        &--elem {
            width: 100%;
        }

        &--img {
            width: 100%; height: auto;
        }
    }

    // .about-us__container

    &__container {
        grid-area: 1/1;

        width: 100%;

        display: flex;
        flex-direction: column;
        
    }

    // .about-us__title

    &__title {
        padding-top: 100px;
    }

    // .about-us__row

    &__row {
        flex: 1 1 auto;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 50px 0;

        @include _992 {
            padding: 100px 0;
            flex-direction: row;
        }
        
    }

    // .about-us__image

    &__image {

        margin-top: 30px;

        width: 100%;

        position: relative;
        padding-top: 50%;

        @include _992 {
            margin-top: 0;

            flex: 0 1 41%;
            width: auto;

            padding-top: 21.17%;
        }

        // .about-us__image--label
    
        &--label {
            padding: 10px 36px;

            background: #6FA5F3;
            
            position: absolute;
            right: 50%; top: -30px;
            transform: translate(50%,0);

            width: 100%; max-width: 300px;
            text-align: center;
            @include _768 {
                text-align: left;
                width: auto;
                padding: 16px 36px;
            }

            @include _992 {
                right: 0; top: 0;
                transform: translate(0,0);
            }

            display: flex;
            flex-direction: column;

            color: var(--dark-2);

            border-radius: 150px;

            &::before {
                content: '';
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%,-50%);
                width: calc(100% - 10px); height: calc(100% - 10px);

                border-radius: 150px;

                box-shadow: inset -10px 0 0 0 #6698E0;
            }

            &::after {
                content: '';
                position: absolute;
                left: 10px; bottom: 7px;
                width: 35px; height: 45px;
                transform: rotate(-35deg);
                border-radius: 50%;
                border-left: 7px solid #6698E0;
            }
            
        }

        // .about-us__image--title

        &--title {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 148.02%;

            z-index: 2;

        }

        // .about-us__image--span

        &--span {
            z-index: 2;

            font-weight: 500;
            font-size: 0.875rem;
            line-height: 148.02%;
        }
        
        // .about-us__image--img

        &--img {
            position: absolute;
            left: 50%; top: 0;
            transform: translate(-50%,0);
            @include _992 {
                left: 0;
                transform: translate(0,0);

                object-position: left;
            }
            width: 100%; height: 100%;
            object-fit: contain; object-position: center;
            max-width: 100%;
        }
    }

    // .about-us__info

    &__info {
        flex: 0 1 50%;
        padding-top: 30px;
        @include _992 {
            padding-top: 0;
        }
        &--body {
            max-width: 576px;
        }
        // .about-us__info--title

        &--title {
        }

        // .about-us__info--text

        &--text {
        }
    }
}
