.telegram {

    // .telegram__bg

    display: grid;
    grid-template-columns: 100%;

    &__bg {
        grid-area: 1/1;

        position: relative;
        z-index: -1;

        display: flex;
        flex-direction: column;
        // .telegram__bg--img

        &--img {
            width: 100%; height: auto;
            margin-top: -10%;

            
        }

        &::after {
            content: '';
            width: 100%; flex: 1 1 auto;
            background: var(--accent-2-light);
        }
    }

    // .telegram__container

    &__container {
        grid-area: 1/1;

        width: 100%;

        padding-top: 50px; padding-bottom: 40px;

        @include _768 {
            padding-top: 100px; padding-bottom: 50px;
        }
        
        @include _992 {
            padding-top: 150px; padding-bottom: 60px;
        }

        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;

        @media(min-width: 1100px) {
            flex-direction: row;
            align-items: center;
        }
    }

    // .telegram__info

    &__info {
        margin-top: 25px;

        @media(min-width: 1100px) {
            max-width: 550px;
            margin-top: 0;
        }

    }

    // .telegram__title

    &__title {
    }

    // .telegram__text

    &__text {
        padding-top: 15px;
    }

    // .telegram__link

    &__link {
        margin-top: 35px;

        text-align: center;
    }

    // .telegram__image

    &__image {

        padding-top: 80%;

        @include _768 {
            padding-top: 45%;
        }

        width: 100%;
        
        @media(min-width: 1100px) {
            flex: 0 1 60%;
            width: auto;
        }

        display: flex;
        align-items: center;

        position: relative;
        
        // .upgrade__image--img

        &--img {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            object-fit: contain; 
            max-width: 100%;
        }
    }
}

